<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.Handover" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Handover" >
    <id column="hid" property="hid" jdbcType="INTEGER" />
    <result column="hfromSpname" property="hfromSpname" jdbcType="VARCHAR" />
    <result column="htoSpname" property="htoSpname" jdbcType="VARCHAR" />
    <result column="hstartTime" property="hstartTime" jdbcType="TIMESTAMP" />
    <result column="hendTime" property="hendTime" jdbcType="TIMESTAMP" />
    <result column="hstatus" property="hstatus" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="did" property="did" jdbcType="INTEGER" />
    <result column="osid" property="osid" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="hremark" property="hremark" jdbcType="VARCHAR" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="res2" property="res2" jdbcType="VARCHAR" />
    <result column="res3" property="res3" jdbcType="VARCHAR" />
    <result column="res4" property="res4" jdbcType="VARCHAR" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="orecName" property="orecName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hid, hfromSpname, htoSpname, hstartTime, hendTime, hstatus, cid, did, osid, rid, 
    hremark, res1, res2, res3, res4
  </sql>
  <!-- 根据订单详情id查询路线id -->
  <select id="selectddByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select rid from orderInfo where osid=#{osid}
  </select>
  
  <!-- 查询指定路线 -->
  <select id="selectxianluByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select rvia as res4 from route where rid=#{rid}
  </select>
  
  <!-- 查询所有配送单位 -->
  <select id="selectpoint" resultMap="BaseResultMap">
    select spid,spname from shipPoint where res1=1
  </select>
  
  <!-- 查询空闲的司机 -->
  <select id="selectDriver" resultMap="BaseResultMap">
      select did,dname from driver where dstatus=0 
  </select>
  
  <!-- 添加交接单 -->
  <insert id="insertHandover" parameterType="com.yc.bean.Handover">
      insert into handover(hfromSpname,htoSpname,hstartTime,hendTime,hstatus,cid,did,osid,rid,hremark) 
      values(#{hfromSpname},#{htoSpname},#{hstartTime},#{hendTime},#{hstatus},1,#{did},#{osid},#{rid},#{hremark})
  </insert>
  
  <!-- 查询此订单编号中是否有出发地到交界地的交接单 -->
  <select id="selectCopy" parameterType="com.yc.bean.Handover" resultMap="BaseResultMap">
      select hid from handover where hfromSpname=#{hfromSpname} and osid=#{osid}
  </select>
  
  <!-- 查询车辆类型 -->
  <select id="selectcartype" resultMap="BaseResultMap">
     	select ctype from car
  </select>
  
  <!-- 查询车辆 -->
   <select id="selectcar" parameterType="com.yc.bean.Handover" resultMap="BaseResultMap">
     	select cid,cnumber from car where ctype=#{ctype} and cstatus=1
  </select>
  
  <!-- 根据收寄地查询 -->
  <select id="selectfromaddr" parameterType="java.util.Map" resultMap="BaseResultMap">
     	select o.osid as osid,orecName,hfromSpname,htoSpname,hstartTime,hendTime,dname,hremark,cnumber,hstatus,hid 
		from handover h join orders o on h.osid=o.osid join driver d on h.did=d.did join car c on h.cid=c.cid
		where hfromSpname=#{hfromSpname} and h.osid=#{osid}
  </select>
  
   <!-- 根据计件地地查询 -->
  <select id="selecttoaddr" parameterType="java.util.Map" resultMap="BaseResultMap">
     	select o.osid as osid,orecName,hfromSpname,htoSpname,hstartTime,hendTime,dname,hremark,cnumber ,hstatus,hid
		from handover h join orders o on h.osid=o.osid join driver d on h.did=d.did join car c on h.cid=c.cid
		where htoSpname=#{htoSpname} and h.osid=#{osid}
  </select>
   
   
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Handover" >
    update handover
    <set >
      <if test="hfromSpname != null" >
        hfromSpname = #{hfromSpname,jdbcType=VARCHAR},
      </if>
      <if test="htoSpname != null" >
        htoSpname = #{htoSpname,jdbcType=VARCHAR},
      </if>
      <if test="hstartTime != null" >
        hstartTime = #{hstartTime,jdbcType=DATE},
      </if>
      <if test="hendTime != null" >
        hendTime = #{hendTime,jdbcType=DATE},
      </if>
      <if test="hstatus != null" >
        hstatus = #{hstatus,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="osid != null" >
        osid = #{osid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="hremark != null" >
        hremark = #{hremark,jdbcType=VARCHAR},
      </if>
      <if test="res1 != null" >
        res1 = #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        res2 = #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        res3 = #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        res4 = #{res4,jdbcType=VARCHAR},
      </if>
    </set>
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Handover" >
    update handover
    set hfromSpname = #{hfromSpname,jdbcType=VARCHAR},
      htoSpname = #{htoSpname,jdbcType=VARCHAR},
      hstartTime = #{hstarTtime,jdbcType=DATE},
      hendTime = #{hendTime,jdbcType=DATE},
      hstatus = #{hstatus,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      did = #{did,jdbcType=INTEGER},
      osid = #{osid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      hremark = #{hremark,jdbcType=VARCHAR},
      res1 = #{res1,jdbcType=VARCHAR},
      res2 = #{res2,jdbcType=VARCHAR},
      res3 = #{res3,jdbcType=VARCHAR},
      res4 = #{res4,jdbcType=VARCHAR}
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  
  <select id="findBy" resultMap="BaseResultMap" parameterType="com.yc.bean.Handover" >
  	select * from handover
  	<where>
  		1=1
  		<if test="osid != null and osid != '' ">
  			and osid = #{osid,jdbcType=INTEGER}
  		</if>
  		<if test="hstatus != null and hstatus != '' ">
  			and hstatus = #{hstatus,jdbcType=INTEGER}
  		</if>
		<if test="cid != null and cid != '' ">
  			and cid = #{cid,jdbcType=INTEGER}
  		</if>
  		<if test="cid != null and cid != '' ">
  			and cid = #{cid,jdbcType=INTEGER}
  		</if>
		<if test="did != null and did != '' ">
  			and did = #{did,jdbcType=INTEGER}
  		</if>
  	</where>	
  </select>
  
  
</mapper>