<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.Orders" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Orders" >
    <id column="osid" property="osid" jdbcType="INTEGER" />
    <result column="osendName" property="osendname" jdbcType="VARCHAR" />
    <result column="osendTel" property="osendtel" jdbcType="VARCHAR" />
    <result column="osendAddress" property="osendaddress" jdbcType="VARCHAR" />
    <result column="orecName" property="orecname" jdbcType="VARCHAR" />
    <result column="orecTel" property="orectel" jdbcType="VARCHAR" />
    <result column="orecAddress" property="orecaddress" jdbcType="VARCHAR" />
    <result column="orecCode" property="oreccode" jdbcType="VARCHAR" />
    <result column="orecPhone" property="orecphone" jdbcType="VARCHAR" />
    <result column="otime" property="otime" jdbcType="TIMESTAMP" />
    <result column="oprice" property="oprice" jdbcType="DOUBLE" />
    <result column="oinsurePrice" property="oinsureprice" jdbcType="DOUBLE" />
    <result column="otype" property="otype" jdbcType="INTEGER" />
    <result column="ostatus" property="ostatus" jdbcType="INTEGER" />
    <result column="ostartTime" property="ostarttime" jdbcType="TIMESTAMP" />
    <result column="oendTime" property="oendtime"  jdbcType="TIMESTAMP"/>
    <result column="orecSpname" property="orecspname" jdbcType="VARCHAR" />
    <result column="oremark" property="oremark" jdbcType="VARCHAR" />
    <result column="usId" property="usid" jdbcType="INTEGER" />
    <result column="spid" property="spid" jdbcType="INTEGER" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="res2" property="res2" jdbcType="VARCHAR" />
    <result column="res3" property="res3" jdbcType="VARCHAR" />
    <result column="res4" property="res4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    osid, osendName, osendTel, osendAddress, orecName, orecTel, orecAddress, orecCode, 
    orecPhone, otime, oprice, oinsurePrice, otype, ostatus, ostartTime, oendTime, orecSpname, 
    oremark, usId, spid, res1, res2, res3, res4
  </sql>
  
  
   <!-- 查询所有 分页-->
   <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from orders 
    
    where  ostatus >= 0
    limit ${start},${pagesize} 
  </select>
  
  
   <!-- 通过id查询 -->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from orders
    <where>
    	1=1
     <if test="orders.osid != null and orders.osid!=''" >
   		 and osid = #{orders.osid,javaType=Integer}
    </if>
    <if test="orders.usid != null and orders.usid!=''" >
   		 and usid = #{orders.usid,javaType=Integer}
    </if>
    <if test="orders.otype != null and orders.otype!=''" >
        and otype = #{orders.otype,javaType=Integer}
     
      </if>
      <if test="orders.spid != null and orders.spid!=''" >
        and spid = #{orders.spid,javaType=Integer}
     
      </if>
      
       <if test="orders.ostatus != null and orders.ostatus!=''" >
        and ostatus = #{orders.ostatus,javaType=Integer}
      </if>
      
     <if test="ostatus == null or ostatus=='' ">
				and ostatus >=0
	</if>
      
      
     
    </where>
    limit ${start},${pagesize} 
  </select>
  
  <!-- 总条数 -->
	<select id="selectTotal" resultType="java.lang.Integer"
		parameterType="com.yc.bean.Orders">
		select count(osid) from orders
		<where>
			1=1
			<if test="osid != null and osid!=''">
				and osid = #{osid,javaType=Integer}
			</if>
			<if test="otype != null and otype!=''">
				and otype = #{otype,javaType=Integer}

			</if>
			<if test="spid != null and spid!=''">
				and spid = #{spid,javaType=Integer}

			</if>
			<if test="usid != null and usid!=''">
				and usid = #{usid,javaType=Integer}

			</if>
			<if test="ostatus != null and ostatus!='' ">
				and ostatus = #{ostatus,javaType=Integer}
			</if>
			<if test="ostatus == null or ostatus=='' ">
				and ostatus >=0
			</if>
		</where>
	</select>
  <!-- 删除 -->
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update orders
    set ostatus = -1
    where osid = #{osid,jdbcType=INTEGER}
  </update>
  
  <!-- 发货 
   <update id="updateStatus" parameterType="java.lang.Integer" >
    update orders
    set ostatus=1
    where osid = #{osid,jdbcType=INTEGER}
  </update>
  -->
  
  <!-- 修改订单状态 -->
   <update id="updateStatus" parameterType="java.lang.Integer" >
    update orders
    set ostatus=#{ostatus,jdbcType=INTEGER}
    where osid = #{osid,jdbcType=INTEGER}
  </update>
  
  <insert id="insert" parameterType="com.yc.bean.Orders" useGeneratedKeys="true" keyColumn="osid" keyProperty="osid">
    insert into orders ( osendName, osendTel, 
      osendAddress, orecName, orecTel, 
      orecAddress, orecCode, orecPhone, 
      otime, oprice, oinsurePrice, 
      otype, ostatus, ostartTime, 
      oendTime, orecSpname, oremark, 
      usId, spid, res1, res2, 
      res3, res4)
    values ( #{osendname,jdbcType=VARCHAR}, #{osendtel,jdbcType=VARCHAR}, 
      #{osendaddress,jdbcType=VARCHAR}, #{orecname,jdbcType=VARCHAR}, #{orectel,jdbcType=VARCHAR}, 
      #{orecaddress,jdbcType=VARCHAR}, #{oreccode,jdbcType=VARCHAR}, #{orecphone,jdbcType=VARCHAR}, 
      #{otime}, #{oprice,jdbcType=DOUBLE}, #{oinsureprice,jdbcType=DOUBLE}, 
      #{otype,jdbcType=INTEGER}, #{ostatus,jdbcType=INTEGER}, #{ostarttime}, 
      #{oendtime}, #{orecspname,jdbcType=VARCHAR}, #{oremark,jdbcType=VARCHAR}, 
      #{usid,jdbcType=INTEGER}, #{spid,jdbcType=INTEGER}, #{res1,jdbcType=VARCHAR}, #{res2,jdbcType=VARCHAR}, 
      #{res3,jdbcType=VARCHAR}, #{res4,jdbcType=VARCHAR})
  </insert>
  
  
  <update id="update" parameterType="com.yc.bean.Orders" >
    update orders
    set osendName = #{osendname,jdbcType=VARCHAR},
      osendTel = #{osendtel,jdbcType=VARCHAR},
      osendAddress = #{osendaddress,jdbcType=VARCHAR},
      orecName = #{orecname,jdbcType=VARCHAR},
      orecTel = #{orectel,jdbcType=VARCHAR},
      orecAddress = #{orecaddress,jdbcType=VARCHAR},
      orecCode = #{oreccode,jdbcType=VARCHAR},
      orecPhone = #{orecphone,jdbcType=VARCHAR},
      otime = #{otime},
      oprice = #{oprice,jdbcType=DOUBLE},
      oinsurePrice = #{oinsureprice,jdbcType=DOUBLE},
      otype = #{otype,jdbcType=INTEGER},
      
      ostartTime = #{ostarttime},
      oendTime = #{oendtime},
      orecSpname = #{orecspname,jdbcType=VARCHAR},
      oremark = #{oremark,jdbcType=VARCHAR},
     
      spid = #{spid,jdbcType=INTEGER},
      res1 = #{res1,jdbcType=VARCHAR},
      res2 = #{res2,jdbcType=VARCHAR},
      res3 = #{res3,jdbcType=VARCHAR},
      res4 = #{res4,jdbcType=VARCHAR}
    where osid = #{osid,jdbcType=INTEGER}
  </update>
</mapper>