<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.Orderinfo" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Orderinfo" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="osid" property="osid" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderId, osid, gid, res1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderinfo
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderinfo
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.Orderinfo" >
    insert into orderinfo (orderId, osid, gid, 
      res1)
    values (#{orderid,jdbcType=INTEGER}, #{osid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, 
      #{res1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Orderinfo" >
    insert into orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="osid != null" >
        osid,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="res1 != null" >
        res1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="osid != null" >
        #{osid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="res1 != null" >
        #{res1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Orderinfo" >
    update orderinfo
    <set >
      <if test="osid != null" >
        osid = #{osid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="res1 != null" >
        res1 = #{res1,jdbcType=VARCHAR},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Orderinfo" >
    update orderinfo
    set osid = #{osid,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      res1 = #{res1,jdbcType=VARCHAR}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>