<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="price" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Price" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pfrom" property="pfrom" jdbcType="VARCHAR" />
    <result column="pto" property="pto" jdbcType="VARCHAR" />
    <result column="pfirstwei" property="pfirstwei" jdbcType="DOUBLE" />
    <result column="prestwei" property="prestwei" jdbcType="DOUBLE" />
    <result column="pfirstvol" property="pfirstvol" jdbcType="DOUBLE" />
    <result column="prestvol" property="prestvol" jdbcType="DOUBLE" />
    <result column="pretime" property="pretime" jdbcType="VARCHAR" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="res2" property="res2" jdbcType="VARCHAR" />
    <result column="res3" property="res3" jdbcType="VARCHAR" />
    <result column="res4" property="res4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pfrom, pto, pfirstwei, prestwei, pfirstvol, prestvol, pretime, res1, res2, res3, 
    res4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from price
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from price
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.Price" >
    insert into price (pid, pfrom, pto, 
      pfirstwei, prestwei, pfirstvol, 
      prestvol, pretime, res1, 
      res2, res3, res4)
    values (#{pid,jdbcType=INTEGER}, #{pfrom,jdbcType=VARCHAR}, #{pto,jdbcType=VARCHAR}, 
      #{pfirstwei,jdbcType=DOUBLE}, #{prestwei,jdbcType=DOUBLE}, #{pfirstvol,jdbcType=DOUBLE}, 
      #{prestvol,jdbcType=DOUBLE}, #{pretime,jdbcType=VARCHAR}, #{res1,jdbcType=VARCHAR}, 
      #{res2,jdbcType=VARCHAR}, #{res3,jdbcType=VARCHAR}, #{res4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Price" >
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pfrom != null" >
        pfrom,
      </if>
      <if test="pto != null" >
        pto,
      </if>
      <if test="pfirstwei != null" >
        pfirstwei,
      </if>
      <if test="prestwei != null" >
        prestwei,
      </if>
      <if test="pfirstvol != null" >
        pfirstvol,
      </if>
      <if test="prestvol != null" >
        prestvol,
      </if>
      <if test="pretime != null" >
        pretime,
      </if>
      <if test="res1 != null" >
        res1,
      </if>
      <if test="res2 != null" >
        res2,
      </if>
      <if test="res3 != null" >
        res3,
      </if>
      <if test="res4 != null" >
        res4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pfrom != null" >
        #{pfrom,jdbcType=VARCHAR},
      </if>
      <if test="pto != null" >
        #{pto,jdbcType=VARCHAR},
      </if>
      <if test="pfirstwei != null" >
        #{pfirstwei,jdbcType=DOUBLE},
      </if>
      <if test="prestwei != null" >
        #{prestwei,jdbcType=DOUBLE},
      </if>
      <if test="pfirstvol != null" >
        #{pfirstvol,jdbcType=DOUBLE},
      </if>
      <if test="prestvol != null" >
        #{prestvol,jdbcType=DOUBLE},
      </if>
      <if test="pretime != null" >
        #{pretime,jdbcType=VARCHAR},
      </if>
      <if test="res1 != null" >
        #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        #{res4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Price" >
    update price
    <set >
      <if test="pfrom != null" >
        pfrom = #{pfrom,jdbcType=VARCHAR},
      </if>
      <if test="pto != null" >
        pto = #{pto,jdbcType=VARCHAR},
      </if>
      <if test="pfirstwei != null" >
        pfirstwei = #{pfirstwei,jdbcType=DOUBLE},
      </if>
      <if test="prestwei != null" >
        prestwei = #{prestwei,jdbcType=DOUBLE},
      </if>
      <if test="pfirstvol != null" >
        pfirstvol = #{pfirstvol,jdbcType=DOUBLE},
      </if>
      <if test="prestvol != null" >
        prestvol = #{prestvol,jdbcType=DOUBLE},
      </if>
      <if test="pretime != null" >
        pretime = #{pretime,jdbcType=VARCHAR},
      </if>
      <if test="res1 != null" >
        res1 = #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        res2 = #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        res3 = #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        res4 = #{res4,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Price" >
    update price
    set pfrom = #{pfrom,jdbcType=VARCHAR},
      pto = #{pto,jdbcType=VARCHAR},
      pfirstwei = #{pfirstwei,jdbcType=DOUBLE},
      prestwei = #{prestwei,jdbcType=DOUBLE},
      pfirstvol = #{pfirstvol,jdbcType=DOUBLE},
      prestvol = #{prestvol,jdbcType=DOUBLE},
      pretime = #{pretime,jdbcType=VARCHAR},
      res1 = #{res1,jdbcType=VARCHAR},
      res2 = #{res2,jdbcType=VARCHAR},
      res3 = #{res3,jdbcType=VARCHAR},
      res4 = #{res4,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>