<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="proxy" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Proxy" >
    <id column="prid" property="prid" jdbcType="INTEGER" />
    <result column="prname" property="prname" jdbcType="VARCHAR" />
    <result column="prtime" property="prtime" jdbcType="VARCHAR" />
    <result column="prprice" property="prprice" jdbcType="DOUBLE" />
    <result column="prremark" property="prremark" jdbcType="VARCHAR" />
    <result column="spid" property="spid" jdbcType="INTEGER" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="res2" property="res2" jdbcType="VARCHAR" />
    <result column="res3" property="res3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    prid, prname, prtime, prprice, prremark, spid, res1, res2, res3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from proxy
    where prid = #{prid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from proxy
    where prid = #{prid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.bean.Proxy" >
    insert into proxy (prid, prname, prtime, 
      prprice, prremark, spid, 
      res1, res2, res3)
    values (#{prid,jdbcType=INTEGER}, #{prname,jdbcType=VARCHAR}, #{prtime,jdbcType=VARCHAR}, 
      #{prprice,jdbcType=DOUBLE}, #{prremark,jdbcType=VARCHAR}, #{spid,jdbcType=INTEGER}, 
      #{res1,jdbcType=VARCHAR}, #{res2,jdbcType=VARCHAR}, #{res3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.bean.Proxy" >
    insert into proxy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        prid,
      </if>
      <if test="prname != null" >
        prname,
      </if>
      <if test="prtime != null" >
        prtime,
      </if>
      <if test="prprice != null" >
        prprice,
      </if>
      <if test="prremark != null" >
        prremark,
      </if>
      <if test="spid != null" >
        spid,
      </if>
      <if test="res1 != null" >
        res1,
      </if>
      <if test="res2 != null" >
        res2,
      </if>
      <if test="res3 != null" >
        res3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        #{prid,jdbcType=INTEGER},
      </if>
      <if test="prname != null" >
        #{prname,jdbcType=VARCHAR},
      </if>
      <if test="prtime != null" >
        #{prtime,jdbcType=VARCHAR},
      </if>
      <if test="prprice != null" >
        #{prprice,jdbcType=DOUBLE},
      </if>
      <if test="prremark != null" >
        #{prremark,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="res1 != null" >
        #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        #{res3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.bean.Proxy" >
    update proxy
    <set >
      <if test="prname != null" >
        prname = #{prname,jdbcType=VARCHAR},
      </if>
      <if test="prtime != null" >
        prtime = #{prtime,jdbcType=VARCHAR},
      </if>
      <if test="prprice != null" >
        prprice = #{prprice,jdbcType=DOUBLE},
      </if>
      <if test="prremark != null" >
        prremark = #{prremark,jdbcType=VARCHAR},
      </if>
      <if test="spid != null" >
        spid = #{spid,jdbcType=INTEGER},
      </if>
      <if test="res1 != null" >
        res1 = #{res1,jdbcType=VARCHAR},
      </if>
      <if test="res2 != null" >
        res2 = #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        res3 = #{res3,jdbcType=VARCHAR},
      </if>
    </set>
    where prid = #{prid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.bean.Proxy" >
    update proxy
    set prname = #{prname,jdbcType=VARCHAR},
      prtime = #{prtime,jdbcType=VARCHAR},
      prprice = #{prprice,jdbcType=DOUBLE},
      prremark = #{prremark,jdbcType=VARCHAR},
      spid = #{spid,jdbcType=INTEGER},
      res1 = #{res1,jdbcType=VARCHAR},
      res2 = #{res2,jdbcType=VARCHAR},
      res3 = #{res3,jdbcType=VARCHAR}
    where prid = #{prid,jdbcType=INTEGER}
  </update>
</mapper>