<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.proxy">
	<resultMap id="BaseResultMap" type="com.yc.bean.Proxy">
		<id column="prid" property="prid" jdbcType="INTEGER" />
		<result column="prname" property="prname" jdbcType="VARCHAR" />
		<result column="prtime" property="prtime" jdbcType="VARCHAR" />
		<result column="prprice" property="prprice" jdbcType="DOUBLE" />
		<result column="prremark" property="prremark" jdbcType="VARCHAR" />
		<result column="spid" property="spid" jdbcType="INTEGER" />
		<result column="res1" property="res1" jdbcType="VARCHAR" />
		<result column="res2" property="res2" jdbcType="VARCHAR" />
		<result column="res3" property="res3" jdbcType="VARCHAR" />
		<result column="spname" property="spname" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		prid, prname, prtime, prprice, prremark, spid, res1, res2, res3
	</sql>

	<!-- 查询所有代理点 -->
	<select id="findAllProxy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select prid, prname, prtime, prprice, prremark,p.spid as spid,spname from proxy p join shipPoint s on p.spid=s.spid where 1=1
		and p.res1=0
		<if test="prname!=null and prname!=''">
			and prname like CONCAT('%', #{prname}, '%')
		</if>
		<if test="spname!=null and spname!=''">
			and spname like CONCAT('%', #{spname}, '%')
		</if>
		limit ${start},${pagesize}
	</select>

	<!-- 删除代理点 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		update proxy set res1=1
		where prid = #{prid,jdbcType=INTEGER}
	</update>

	<!-- 增加代理点 -->
	<insert id="proxyadd" parameterType="com.yc.bean.Proxy">
		insert into proxy (prname, prtime,
		prprice, prremark, spid,res1)
		values (#{prname,jdbcType=VARCHAR}, #{prtime,jdbcType=VARCHAR},
		#{prprice,jdbcType=DOUBLE}, #{prremark,jdbcType=VARCHAR},#{spid,jdbcType=INTEGER},0)
	</insert>

	<!-- 修改代理点 -->
	<update id="proxyupdate" parameterType="com.yc.bean.Proxy">
		update proxy
		<set>
			<if test="prname != null">
				prname = #{prname,jdbcType=VARCHAR},
			</if>
			<if test="prtime != null">
				prtime = #{prtime,jdbcType=VARCHAR},
			</if>
			<if test="prprice != null">
				prprice = #{prprice,jdbcType=DOUBLE},
			</if>
			<if test="prremark != null">
				prremark = #{prremark,jdbcType=VARCHAR},
			</if>
			<if test="spid != null">
				spid = #{spid,jdbcType=INTEGER},
			</if>
			<if test="res1 != null">
				res1 = #{res1,jdbcType=VARCHAR},
			</if>
			<if test="res2 != null">
				res2 = #{res2,jdbcType=VARCHAR},
			</if>
			<if test="res3 != null">
				res3 = #{res3,jdbcType=VARCHAR},
			</if>
		</set>
		where prid = #{prid,jdbcType=INTEGER}
	</update>

	<!-- 查询总条数 -->
	<select id="proxycount" parameterType="java.util.Map" resultMap="BaseResultMap">
		select count(*) as res3 from proxy p join shipPoint s on p.spid=s.spid where 1=1 and p.res1=0
		<if test="prname!=null and prname!=''">
			and prname like CONCAT('%', #{prname}, '%')
		</if>
		<if test="spname!=null and spname!=''">
			and spname like CONCAT('%', #{spname}, '%')
		</if>
	</select>

	<!-- 查询所有配送点 -->
	<select id="selectpoint" resultMap="BaseResultMap">
	    select spid,spname from shipPoint where res1=0
	</select>

</mapper>