<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.bean.Shippoint" >
  <resultMap id="BaseResultMap" type="com.yc.bean.Shippoint" >
    <id column="spid" property="spid" jdbcType="INTEGER" />
    <result column="spname" property="spname" jdbcType="VARCHAR" />
    <result column="spperson" property="spperson" jdbcType="VARCHAR" />
    <result column="sptel" property="sptel" jdbcType="VARCHAR" />
    <result column="spemail" property="spemail" jdbcType="VARCHAR" />
    <result column="spaddress" property="spaddress" jdbcType="VARCHAR" />
    <result column="sppersonTel" property="sppersontel" jdbcType="VARCHAR" />
    <result column="spfax" property="spfax" jdbcType="VARCHAR" />
    <result column="sparea" property="sparea" jdbcType="VARCHAR" />
    <result column="spremark" property="spremark" jdbcType="VARCHAR" />
    <result column="res1" property="res1" jdbcType="VARCHAR" />
    <result column="res2" property="res2" jdbcType="VARCHAR" />
    <result column="res3" property="res3" jdbcType="VARCHAR" />
    <result column="res4" property="res4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    spid, spname, spperson, sptel, spemail, spaddress, sppersonTel, spfax, sparea, spremark, 
    res1, res2, res3, res4
  </sql>
  <!-- 查询所有 -->
   <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from shippoint 
    where  res1=0
    limit ${start},${pagesize} 
  </select>
  
  <!-- 通过id查询 -->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from shippoint  
   
    <where>
    	res1=0
     <if test="shippoint.spid != null" >
   		 and spid = #{shippoint.spid,javaType=Integer}
    </if>
    <if test="shippoint.spname != null and shippoint.spname!=''" >
        and spname = #{shippoint.spname,javaType=String}
     
      </if>
     <if test="shippoint.spaddress != null and shippoint.spaddress!=''" >
        and spaddress like  #{shippoint.spaddress,javaType=String}
      </if>
    </where>
    limit ${start},${pagesize} 
  </select>
  
  <!-- 总条数 -->
  <select id="selectTotal" resultType="java.lang.Integer"  parameterType="com.yc.bean.Shippoint">
	select count(spid) from shippoint
	 <where>
    	res1=0
     <if test="spid != null" >
   		 and spid = #{spid}
    </if>
    <if test="spname != null and spname!=''" >
        and spname = #{spname}
     
      </if>
     <if test="spaddress != null and spaddress!=''" >
        and spaddress like  #{spaddress}
      </if>
    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey"  >
    update shippoint set res1='1' 
    where spid = #{spid}
  </delete>
  
  <insert id="insert" parameterType="com.yc.bean.Shippoint" useGeneratedKeys="true" keyColumn="spid" keyProperty="spid">
    insert into shippoint (spname, spperson, 
      sptel, spemail, spaddress, 
      sppersonTel, spfax, sparea, 
      spremark, res1, res2, 
      res3, res4)
    values ( #{spname,jdbcType=VARCHAR}, #{spperson,jdbcType=VARCHAR}, 
      #{sptel,jdbcType=VARCHAR}, #{spemail,jdbcType=VARCHAR}, #{spaddress,jdbcType=VARCHAR}, 
      #{sppersontel,jdbcType=VARCHAR}, #{spfax,jdbcType=VARCHAR}, #{sparea,jdbcType=VARCHAR}, 
      #{spremark,jdbcType=VARCHAR}, 0, #{res2,jdbcType=VARCHAR}, 
      #{res3,jdbcType=VARCHAR}, #{res4,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.yc.bean.Shippoint" >
    update shippoint
    <set >
      <if test="spname != null" >
        spname = #{spname,jdbcType=VARCHAR},
      </if>
      <if test="spperson != null" >
        spperson = #{spperson,jdbcType=VARCHAR},
      </if>
      <if test="sptel != null" >
        sptel = #{sptel,jdbcType=VARCHAR},
      </if>
      <if test="spemail != null" >
        spemail = #{spemail,jdbcType=VARCHAR},
      </if>
      <if test="spaddress != null" >
        spaddress = #{spaddress,jdbcType=VARCHAR},
      </if>
      <if test="sppersontel != null" >
        sppersonTel = #{sppersontel,jdbcType=VARCHAR},
      </if>
      <if test="spfax != null" >
        spfax = #{spfax,jdbcType=VARCHAR},
      </if>
      <if test="sparea != null" >
        sparea = #{sparea,jdbcType=VARCHAR},
      </if>
      <if test="spremark != null" >
        spremark = #{spremark,jdbcType=VARCHAR},
      </if>
     
      <if test="res2 != null" >
        res2 = #{res2,jdbcType=VARCHAR},
      </if>
      <if test="res3 != null" >
        res3 = #{res3,jdbcType=VARCHAR},
      </if>
      <if test="res4 != null" >
        res4 = #{res4,jdbcType=VARCHAR},
      </if>
    </set>
    where spid = #{spid,jdbcType=INTEGER}
  </update>
  <update id="update2" parameterType="com.yc.bean.Shippoint" >
    update shippoint
    set spname = #{spname,jdbcType=VARCHAR},
      spperson = #{spperson,jdbcType=VARCHAR},
      sptel = #{sptel,jdbcType=VARCHAR},
      spemail = #{spemail,jdbcType=VARCHAR},
      spaddress = #{spaddress,jdbcType=VARCHAR},
      sppersonTel = #{sppersontel,jdbcType=VARCHAR},
      spfax = #{spfax,jdbcType=VARCHAR},
      sparea = #{sparea,jdbcType=VARCHAR},
      spremark = #{spremark,jdbcType=VARCHAR},
      
      res2 = #{res2,jdbcType=VARCHAR},
      res3 = #{res3,jdbcType=VARCHAR},
      res4 = #{res4,jdbcType=VARCHAR}
    where spid = #{spid,jdbcType=INTEGER}
  </update>
</mapper>